<a href="https://colab.research.google.com/github/Breno-Teodomiro/Webscrapping_CoinMarketCap_Terra/blob/main/Webscrapping_CoinMarketCap_Terra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import pytz
from datetime import datetime

In [ ]:
brazil_tz = pytz.timezone('America/Sao_Paulo')
utc_now = datetime.now(pytz.utc)
brazil_now = utc_now.astimezone(brazil_tz)
hora_consulta = brazil_now.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
url = 'https://coinmarketcap.com/currencies/terra-luna-v2/'

In [ ]:
headers = {"User-Agent": "Mozilla/5.0"}  # importante para evitar bloqueio

In [ ]:
response = requests.get(url, headers=headers)

In [ ]:
# Buscar pelo atributo data-test (mais estável que a classe)
price = soup.find("span", {"data-test": "text-cdp-price-display"}).text

In [ ]:
price = price.replace('R$', '').replace('\xa0', '').replace(',', '.')

AttributeError: 'float' object has no attribute 'replace'

In [ ]:
price = float(price)

In [ ]:
price

In [ ]:
hora_consulta

'2026-02-01 01:08:57'

In [ ]:
dicionario = {

    'Moeda' : ['Luna'],
    'Hora Consulta': [hora_consulta],
    'Preço': [price]

}

In [ ]:
df_carga = pd.DataFrame(dicionario)

In [ ]:
df_carga

In [ ]:
#df = pd.DataFrame()

In [ ]:
df

In [ ]:
df = pd.concat([df, df_carga])

In [ ]:
df

  Moeda        Hora Consulta   Preço
0  Luna  2026-02-01 01:06:26  0.3561
0  Luna  2026-02-01 01:06:38  0.3561
0  Luna  2026-02-01 01:07:52  0.3561
0  Luna  2026-02-01 01:07:54  0.3561
0  Luna  2026-02-01 01:07:55  0.3561
0  Luna  2026-02-01 01:08:19  0.3561
0  Luna  2026-02-01 01:08:21  0.3561
0  Luna  2026-02-01 01:08:30  0.3561
0  Luna  2026-02-01 01:08:31  0.3561
0  Luna  2026-02-01 01:08:32  0.3561
0  Luna  2026-02-01 01:08:33  0.3561
0  Luna  2026-02-01 01:08:34  0.3561
0  Luna  2026-02-01 01:08:37  0.3561
0  Luna  2026-02-01 01:08:37  0.3561
0  Luna  2026-02-01 01:08:38  0.3561
0  Luna  2026-02-01 01:08:38  0.3561
0  Luna  2026-02-01 01:08:38  0.3561
0  Luna  2026-02-01 01:08:38  0.3561
0  Luna  2026-02-01 01:08:39  0.3561
0  Luna  2026-02-01 01:08:45  0.3561
0  Luna  2026-02-01 01:08:57  0.3561